.reg_text {
  border: none;
  border-bottom: 1px solid #000000e0;
  text-align: center;
  width: 55%;
  height: 51px;
  margin-bottom: 8%;
  text-decoration: none;
  background-color: #fff0;
}
.reg_btn {
  text-align: center;
  text-decoration: none;
  height: 34px;
  color: white;
  background-color: black;
  width: 20%;
  border: none;
}

.reg_bg {
  background: url("https://i.ibb.co/h14tdnV/Background-register-01.png")
    no-repeat;
  background-size: cover;
}
.hey_there {
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 3%;
}
.hey_pic {
  alt: "hey-01";
  border: "0";
  width: 80%;
}
.intro {
  text-align: center;
  position: absolute;

  top: 65%;

  left: 34%;
}
.reg_form_div {
  text-align: center;
  float: left;
  position: absolute;

  top: 11%;

  left: 62%;
}
.reg_hr {
  border-block-color: black;
  width: 22%;
  border-width: 2px;
}

.reg_link {
  text-decoration: none;
}
.register_bg {
  position: relative;
  background: url("https://i.ibb.co/h14tdnV/Background-register-01.png")
    no-repeat;
  background-size: cover;
  height: 100vh;
}
