.reg_text {
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  width: 75%;
  height: 51px;
  margin-bottom: 8%;
  text-decoration: none;
  background-color: #fff0;
  color: white;
}

#optionclass {
  left: 12.2%;
  width: 75%;
}
.reg_btn {
  text-align: center;
  text-decoration: none;
  height: 34px;
  color: white;
  background-color: #c89a69;
  width: 75%;
  border: none;
}

.reg_bg {
  background: url('https://i.ibb.co/h14tdnV/Background-register-01.png')
    no-repeat;
  background-size: cover;
}
.hey_there {
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 3%;
}
.hey_pic {
  alt: 'hey-01';
  border: '0';
  width: 80%;
}
.intro {
  text-align: center;
  position: absolute;

  top: 65%;

  left: 34%;
}
.reg_form_div {
  text-align: center;
  position: absolute;
  top: 23%;
  left: 30%;
  width: 40%;
  background-color: #313131;
  opacity: 0.9;
  padding: 1%;
}
.reg_hr {
  border-block-color: black;
  width: 22%;
  border-width: 2px;
}

#reg_link {
  text-decoration: none;
  color: white;
}
.register_bg {
  position: relative;
  background: url('../../img/authpic3.jpg') no-repeat;
  background-size: cover;
  height: 130vh;
}

.register_bg2 {
  position: relative;
  background: url('../../img/authpic4.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}

.register_bg3 {
  position: relative;
  background: url('../../img/authpic5.jpg') no-repeat;
  background-size: cover;
  height: 160vh;
}
