.navbar:hover {
  text-decoration: none;
  display: var(--dark-color);
  color: white;
}

.navbar {
  padding-bottom: 0px;
  padding-top: 0px;
}
.nav-item {
  width: 33.33%;
  text-align: center;
  color: white;
  padding: 0px;
}
